section#features.section.section--features
  .section__content.section__content--fluid-width.section__content--features
    h2.section__title.section__title--centered=t(locale, 'features.title')
    .section__description.section__description--centered=t(locale, 'features.description')
    .grid.grid--3col.grid--features
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/desktop-windows-96.png' alt='' title='')
        h3.grid__title!=t(locale, 'features.list.0.title')
        p.grid__text!=t(locale, 'features.list.0.description')
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/desktop-code-96.png' alt='' title='')
        h3.grid__title!=t(locale, 'features.list.1.title')
        p.grid__text!=t(locale, 'features.list.1.description')
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/desktop-chart-96.png' alt='' title='')
        h3.grid__title!=t(locale, 'features.list.2.title')
        p.grid__text!=t(locale, 'features.list.2.description')
