section#intro.section.section--intro
  .section__content.section__content--fluid-width.section__content--intro
    .intro
      .intro__content
        .intro__title
          strong #{t(locale, 'intro.sentence')}
          .intro__title__words-animation
            span.intro__title--word-animated.word #{t(locale, 'intro.words.0')}
            span.intro__title--word-animated.word #{t(locale, 'intro.words.1')}
            span.intro__title--word-animated.word #{t(locale, 'intro.words.2')}
            span.intro__title--word-animated.word #{t(locale, 'intro.words.3')}
            span.intro__title--word-animated.word #{t(locale, 'intro.words.4')}
        .intro__subtitle #{t(locale, 'intro.subtitle')}
        .intro__description #{t(locale, 'intro.description')}
        .intro__buttons.intro__buttons--left
          a.btn.btn--blue-bg(href='#about') #{t(locale, 'intro.action.more')}
          a.btn.btn--dark-bg(href='#contact') #{t(locale, 'intro.action.contact')}
  .intro-animation
    img(src='/assets/images/intro-animation.png' alt='' title='')
  svg.svg-intro-bottom(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='none')
    defs
      lineargradient#linear(x1='0' y1='0%' x2='100%' y2='20%' spreadmethod='pad')
        stop(offset='0%' stop-color='#4916d7')
        stop(offset='100%' stop-color='#be94f8')
    path(d='M50,100 L90,0 100,0 100,100 Z' fill='url(#linear)' fill-opacity='0.8')
  svg.svg-intro-bottom-2(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='none')
    path(d='M60,100 L100,0 100,0 100,100 Z' fill='#ffffff' fill-opacity='0.8')
  svg.svg-intro-bottom-3(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='none')
    path(d='M80,100 L100,50 100,100 Z' fill='#ecdfff')