section#team.section.section--team
  .section__content.section__content--fluid-width.section__content--padding
    h2.section__title.section__title--centered=t(locale, 'team.title')
    .section__description.section__description--centered=t(locale, 'team.description')
    .team
      .team__content.swiper-wrapper
        each person in team
          .team__slide.swiper-slide
            .team__thumb(data-swiper-parallax='-50%')
              img(src=person.image alt=person.name)
            .team__source
              | #{person.name}
              each skill in person.skills
                span #{skill}
      .team__pagination.swiper-pagination
      .team__button--next.swiper-button-next
      .team__button--prev.swiper-button-prev
    .clear