doctype html
html(lang=locale)
  head
    include /parts/gtm/head.pug
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='author' content='Frame Tools')
    meta(name='description' content=t(locale, 'description'))
    meta(name='keywords' content=t(locale, 'keywords'))
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include /parts/styles.pug
    title #{t(locale, 'title')}
  body
    include /parts/gtm/body.pug
    include /parts/header.pug

    include /sections/intro.pug
    include /sections/about.pug
    include /sections/about2.pug
    include /sections/about3.pug
    include /sections/features.pug
    include /sections/team.pug
    include /sections/clients.pug
    include /sections/contact.pug

    include /parts/footer.pug
    include /parts/scripts.pug
